@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Regular.ttf");
}

body{
    background-color: white;
}

.img1{
    width: 647px;
    height: 323px;

    margin-left: 415px;
    margin-top: 20px;
    margin-right: 378px;
}

.info{
    display: flex;

    margin-left: 514px;
    margin-top: 29px;
    margin-right: 534px;
}

.img2{
    width: 171px;
    height: 222px;

    margin-right: 13px;
}

.heading1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.about{
    width: 208px;
    height: 204px;
}

.text1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0px;
}

.line{
    border: 1px solid #E9E9E9;
    width: 392px;
    
    margin-left: 514px;
    margin-top: 33px;
    margin-right: 534px;
    margin-bottom: 29px;
}