@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Regular.ttf");
}

body{
    background-color: white;
    
}


.img1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img{
    width: 647px;
    height: 323px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 29px;
}

.img2{
    width: 171px;
    height: 222px;

    margin-right: 13px;
}

.heading1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.about{
    width: 208px;
    height: 204px;
}

.text1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0px;
}

.divv{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 33px;
    margin-bottom: 29px;
}
.line{
    border: 1px solid #E9E9E9;
    width: 392px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img3{
    width: 208px;
    height: 335px;
    margin-left: 9px;
}

.heading2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;;
}

.dishes h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0px;
}

.dishes p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

    margin-top: 0px;
    margin-bottom: 8px;
    margin-right: 0px;
    width: 175px;
}